@charset "UTF-8";
/* CSS Document */

@media screen and (min-width: 320px) {
  /* スマホ用レイアウト 320px以上の範囲に収めるデザインはこの中に記述 */

  .color {
    color: #ED9E31;
  }
  /*==============================================================
    　　Commitment　こだわり
  ==============================================================*/
  .main {
    overflow: hidden;
  }

  .main-title {
    line-height: 1.2;
    padding: 25.78vw 0 11.33vw;
    padding-left: 5.21vw;
    padding-right: 5.21vw;
  }

  /* タイトル（日本語） */
  .main-title .title-jp {
    display: block;
    font-size: 8.33vw;
    font-weight: 600;
    letter-spacing: .1em;
    margin-top: 1.56vw;
  }

  /* タイトル（英語） */
  .main-title .title {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 600;
    font-size: 4.17vw;
    line-height: 1.2;
    letter-spacing: .1em;
    color: #ED9E31;
    padding-top: 3.78vw;
    position: relative;
    writing-mode: unset;
    padding-top: 0;
    padding-left: 2.73vw;
    margin-bottom: -.52vw;
  }

  /* ドット */
  .main-title .title:before {
    content: "";
    width: 1.17vw;
    height: 1.17vw;
    background: currentColor;
    border-radius: 50%;
    position: absolute;
    top: 7px;
    left: 0;
    margin: auto;
  }

  .main-bg {
    position: relative;
    margin-bottom: 80px;
  }

  .main-bg:before {
    content: "";
    width: 260.42vw;
    height: 130.21vw;
    /* background: rgba(255, 255, 255, .03); */
    background: #242424;
    border-radius: 130.21vw 130.21vw 0 0;
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
  }

  /* 下側に反転した形を追加 */
  .main-bg:after {
    content: "";
    width: 260.42vw;
    height: 130.21vw;
    background: #242424;
    /* 上下を反転 */
    border-radius: 0 0 130.21vw 130.21vw;
    position: absolute;
    bottom: -80px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
  }

  .main .top {
    padding-left: 5.21vw;
    padding-right: 5.21vw;
  }

  .main .top .commit-img {
    width: 100%;
    height: auto;
    overflow: hidden;
    aspect-ratio: 3 / 1.3;
  }

  .main .top .commit-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .main .top .text-box .title {
    font-weight: 500;
    font-size: 6.25vw;
    line-height: 1.6;
    letter-spacing: .1em;
    margin: 6.51vw 0 3.26vw;
  }

  .main .top .text-box .text {
    font-size: 3.52vw;
    line-height: 2;
    letter-spacing: .1em;
  }

  /*=============== 　　content　　===============*/
  .content {
    padding-top: 13.8vw;
    padding-left: 5.21vw;
    padding-right: 5.21vw;
    background: #242424;
  }

  .commit-box .commit-img {
    width: 100%;
    height: 64.8vw;
    margin-bottom: 7.29vw;
    overflow: hidden;
  }

  .commit-box .commit-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .commit-box .title {
    font-weight: 500;
    font-size: 6.25vw;
    line-height: 1.6;
    letter-spacing: .1em;
    margin-bottom: 3.91vw;
    margin-right: -.91vw;
  }

  .commit-box .text {
    font-size: 3.65vw;
    line-height: 1.8;
    margin-bottom: 8.33vw;
  }

  /* パンくずリスト */
  .breadcrumbs {
    /* padding: 11.2vw 5.21vw 5.99vw; */
    padding: 18vw 5.21vw 5.99vw;
  }

  .breadcrumbs .list-item {
    display: inline;
    font-size: 2.86vw;
    line-height: 1.8;
    letter-spacing: .1em;
    color: #939393;
  }

  .breadcrumbs .list-item a {
    color: #fff;
  }

  .breadcrumbs .list-item a:after {
    display: inline;
    content: "/";
    margin-left: 1.43vw;
    color: #939393;
  }

  .footer {
    margin-top: 0;
  }


}


@media screen and (min-width: 640px) {
  /* タブレット用レイアウト 640px以上の範囲に収めるデザインはこの中に記述 */

  /*==============================================================
    　　TB_Commitment　こだわり
  ==============================================================*/
  .main-title {
    max-width: 84.98vw;
    width: 100%;
    margin-inline: auto;
    padding: 18vw 0 9vw;
  }

  /* タイトル（日本語） */
  .main-title .title-jp {
    /* font-size: 34px; */
    font-size: 36px;
    line-height: 1.45;
    letter-spacing: 0;
    margin-right: .59vw;
    margin-left: -7px;
    margin-top: 1vw;
  }

  /* タイトル（英語） */
  .main-title .title {
    /* font-size: 24px; */
    font-size: 15px;
    padding-left: 1.8vw;
  }

  /* ドット */
  .main-title .title:before {
    width: 5px;
    height: 5px;
    top: 7px;
  }

  .main-bg {
    margin-bottom: 170px;
  }

  .main-bg:before {
    width: 200vw;
    height: 100vw;
    border-radius: 100vw 100vw 0 0;
  }

  /* 下側に反転した形を追加 */
  .main-bg:after {
    width: 200vw;
    height: 100vw;
    border-radius: 0 0 100vw 100vw;
    bottom: -170px;
  }

  .main .top {
    max-width: 84.98vw;
    margin: 0 auto;
    padding: 0;
  }

  .main .top .text-box .title {
    font-size: 32px;
    margin-bottom: 16px;
    margin: 3.6vw 0 2.5vw;
  }

  .main .top .text-box .text {
    font-size: 16.5px;
    line-height: 2;
  }



  /*=============== 　　content　　===============*/
  .content {
    /* max-width: 84.98vw; */
    width: 100%;
    margin: 0;
    margin-inline: auto;
    padding: 100px 60px 0;
  }

  .commit-box .commit-img {
    height: 60vw;
    margin-bottom: 4vw;
  }

  .commit-box .title {
    font-size: 30px;
    margin-bottom: 28px;
  }

  .commit-box .text {
    font-size: 15px;
    line-height: 2;
  }

  /* パンくずリスト */
  .breadcrumbs {
    padding: 9.5vw 60px 2.5vw;
  }

  .breadcrumbs .list-item {
    font-size: 12px;
  }

  .breadcrumbs .list-item a:after {
    margin-right: .37vw;
    margin-left: .81vw;
  }


}


@media screen and (min-width: 1024px) {
  /* パソコン用レイアウト 1024px以上の範囲に収めるデザインはこの中に記述 */
  /*==============================================================
    　　PC_Commitment　こだわり
  ==============================================================*/
  .main-title {
    line-height: 1.2;
    padding: 13.19vw 0 6.67vw;
  }

  /* タイトル（日本語） */
  .main-title .title-jp {
    font-size: 3.22vw;
    margin-top: 1.03vw;
  }

  /* タイトル（英語） */
  .main-title .title {
    font-size: 1.47vw;
    padding-left: 1.03vw;
  }

  /* ドット */
  .main-title .title:before {
    width: .44vw;
    height: .44vw;
    top: .66vw;
    left: 0;
  }

  .main-bg:before {
    width: 260.42vw;
    height: 130.21vw;
    border-radius: 130.21vw 130.21vw 0 0;
  }

  /* 下側に反転した形を追加 */
  .main-bg:after {
    width: 260.42vw;
    height: 130.21vw;
    border-radius: 0 0 130.21vw 130.21vw;
  }

  .main .top .text-box .title {
    font-size: 2.34vw;
    margin: 3.52vw 0 1.68vw;
  }

  .main .top .text-box .text {
    font-size: 1.32vw;
    line-height: 2;
    letter-spacing: .1em;
  }



  /*=============== 　　content　　===============*/
  .content {
    width: 100%;
    margin-inline: auto;
    padding: 0;
    padding-top: 40px;
  }

  .commit-box {
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-top: 4.98vw;
    max-width: 84.98vw;
  }

  .commit-box.box-02,
  .commit-box.box-04 {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .commit-box .commit-img {
    /* height: 40.29vw; */
    margin-right: 5.86vw;
    margin-bottom: 0;

    min-width: 540px;
    height: 550px;
  }

  .commit-box.box-02 .commit-img,
  .commit-box.box-04 .commit-img {
    margin-right: 0;
    margin-left: 5.86vw;

  }

  .commit-box .text-box {
    width: 100%;
    padding-bottom: 1.1vw;
  }

  .commit-box .title {
    font-size: 2.34vw;
    margin-bottom: 2.56vw;
  }

  .commit-box .text {
    font-size: 1.17vw;
    line-height: 1.8;
    letter-spacing: .1em;
    margin: 0;
  }

  .sec-commit .btn-box {
    justify-content: flex-start;
    margin: 0;
    margin-top: 3.44vw;
  }

  /* パンくずリスト */
  .breadcrumbs {
    max-width: 84.98vw;
    margin: 0 auto;
    padding: 10vw 0 2vw;
  }

  .breadcrumbs .list-item {
    font-size: .95vw;
  }

}

@media screen and (min-width: 1400px) {
  /* パソコン用レイアウト 1400px以上の範囲に収めるデザインはこの中に記述 */
  /*==============================================================
    　　PC-big_Commitment　こだわり
  ==============================================================*/
  .main-title {
    max-width: 1160px;
    line-height: 1.2;
    padding: 180px 0 91px;
  }

  /* タイトル（日本語） */
  .main-title .title-jp {
    font-size: 44px;
    margin-top: 14px;
  }

  /* タイトル（英語） */
  .main-title .title {
    font-size: 20px;
    padding-left: 14px;
  }

  /* ドット */
  .main-title .title:before {
    width: 6px;
    height: 6px;
    top: 9px;
  }

  .main-bg {
    margin-bottom: 240px;
  }

  .main-bg:before {
    width: 240vw;
    height: 120vw;
    border-radius: 120vw 120vw 0 0;
  }

  /* 下側に反転した形を追加 */
  .main-bg:after {
    width: 240vw;
    height: 120vw;
    border-radius: 0 0 120vw 120vw;
    bottom: -240px;
  }

  .main .top {
    max-width: 1160px;
  }

  .main .top .commit-img {
    aspect-ratio: 3 / 1.29;
  }

  .main .top .text-box .title {
    font-size: 32px;
    margin: 48px 0 23px;
  }

  .main .top .text-box .text {
    font-size: 18px;
  }

  /*=============== 　　content　　===============*/
  .commit-box {
    max-width: 1160px;
    margin-top: 60px;
  }

  .commit-box .commit-img {
    margin-right: 80px;
  }

  .commit-box .text-box {
    padding-bottom: 15px;
  }

  .commit-box .title {
    font-size: 32px;
    margin-bottom: 35px;
  }

  .commit-box .text {
    font-size: 16px;
  }

  .sec-commit .btn-box {
    margin-top: 47px;
  }

  /* パンくずリスト */
  .breadcrumbs {
    max-width: 1160px;
    padding-top: 120px;
    padding-bottom: 20px;
  }

  .breadcrumbs .list-item {
    font-size: 13px;
  }

  .breadcrumbs .list-item a:after {
    margin-right: 5px;
    margin-left: 11px;
  }



}