@charset "UTF-8";
/* CSS Document */

body {
  /* font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", HelveticaNeue, YuGothic, "Yu Gothic Medium", "Yu Gothic", Verdana, Meiryo, sans-serif; */
  font-family: 'Shippori Mincho', serif;
  /* font-family: 'Cormorant Garamond', serif;
  font-family: 'Zen Old Mincho', serif; */
  font-feature-settings: 'palt' 1;
  letter-spacing: .1em;
  color: #fff;
  background-color: #181818;
}

@media screen and (min-width: 320px) {
  /* スマホ用レイアウト 320px以上の範囲に収めるデザインはこの中に記述 */

  .pc-nav,
  .pc-only {
    display: none;
  }

  /*==============================================================
    　　ヘッダー
  ==============================================================*/
  .header {
    position: fixed;
    /* width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 26px 0;
    top: 0; */
    z-index: 20;
  }

  .header .logo-box {
    display: flex;
    align-items: center;

    /* width: 38.28vw; */
    height: 13.8vw;
    position: fixed;
    top: 4.04vw;
    left: 5.08vw;
    z-index: 2;
  }

  .logo-box.active {
    display: none;
  }

  .logo-box img {
    height: 50px;
    margin-right: 10px;
  }

  .logo-box a {
    display: flex;
    align-items: center;
  }

  .logo-box .logo {
    font-family: 'Cormorant Garamond', serif;
    font-size: 22px;
    font-weight: 900;
    margin-top: 3px;
  }

  .btn {
    width: 14.32vw;
    height: 14.32vw;
    border: 1px solid #fff;
    border-radius: 50%;
    position: fixed;
    top: 4.17vw;
    right: 5.21vw;
    z-index: 2;
    cursor: pointer;
  }

  .btn span {
    width: 6.77vw;
    height: 2.34vw;
    position: absolute;
    inset: 0;
    margin: auto;
  }

  .btn span:after,
  .btn span:before {
    content: "";
    width: 100%;
    height: .26vw;
    background: #fff;
    position: absolute;
    left: 0;
    transition: 0.5s;
  }

  .btn span:after {
    bottom: 0;
  }

  .btn.active span:before {
    transform: translateY(4px) rotate(45deg);
    width: 25px;
    margin-right: 2.5px;
  }

  .btn.active span:after {
    transform: translateY(-4px) rotate(-45deg);
    width: 25px;
    margin-right: 2.5px;
  }

  /* メニューのデザイン*/
  .container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    background: #181818;
    transition: .5s;
    opacity: 0;
    overflow: hidden;
    overflow-y: scroll;
    pointer-events: none;
  }

  .container.active{
    opacity: 1;
    pointer-events: auto;
  }

  .nav-list {
    padding: 36.46vw 10.42vw 16.67vw;
  }

  .nav-item {
    font-size: 3.65vw;
    font-weight: 500;
    position: relative;
    margin-bottom: 24px;
  }


  /*==============================================================
    　　フッター
  ==============================================================*/
  .footer {
    padding-top: 12.89vw;
    padding-bottom: 11.72vw;
    position: relative;
    overflow: hidden;
    perspective: 1px;
    margin-top: 20.83vw;
  }

  .footer:before {
    content: "";
    width: 260.42vw;
    height: 130.21vw;
    background: rgba(255, 255, 255, .03);
    border-radius: 130.21vw 130.21vw 0 0;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
  }

  .foot-bg {
    padding-left: 5.21vw;
    padding-right: 5.21vw;
  }

  .footer .logo-box {
    position: relative;
    width: 177px;
    margin: 0 auto 10.16vw;
  }

  .footer .logo-box img {
    height: 59px;
  }

  .footer .logo-box .logo {
    font-size: 24px;
    margin-top: 3px;
  }

  .footer .link-box {
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-between; */

    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 4.3vw;
    font-size: 3.65vw;
    padding: 0 5.21vw;
    line-height: 1.8;
  }

  .footer .link-box .policy {
    width: 100%;
    white-space: nowrap;
    padding-top: .65vw;
    margin-bottom: 4.3vw;
    font-size: 3.91vw;
    color: rgba(255, 255, 255, .3);
  }

  .footer .copy {
    font-size: 2.6vw;
    line-height: 1.8;
    letter-spacing: .1em;
    color: rgba(255, 255, 255, .3);
    text-align: center;
    padding-top: 11.59vw;
  }




}


@media screen and (min-width: 640px) {
  /* タブレット用レイアウト 640px以上の範囲に収めるデザインはこの中に記述 */

  .sp-nav {
    display: none;
  }

  .pc-nav {
    display: block;
  }

  /*==============================================================
    　　TB_ヘッダー
  ==============================================================*/
  /* .header {
    height: 120px;
    padding: 0 60px 8px;
  }

  .header .nav-list {
    display: flex;
    padding: 0;
  }

  .header .nav-item {
    font-size: 16px;
    letter-spacing: 0.17em;
    padding: 0;
    margin: 0;
    padding-left: 20px;
    font-weight: bold;
  }

  .logo-box img {
    height: 40px;
    margin-right: 16px;
  }

  .logo-box .logo {
   font-size: 24px;
  } */

}


@media screen and (min-width: 1024px) {
  /* パソコン用レイアウト 1024px以上の範囲に収めるデザインはこの中に記述 */

  .pc-only {
    display: block;
  }

  .pc-none {
    display: none;
  }

  /*==============================================================
    　　PC_ヘッダー
  ==============================================================*/
  .header {
    width: 100%;
    height: 10.62vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
  }

  .header .logo-box {
    height: 6.01vw;
    top: 2.27vw;
    left: 2.86vw;
  }

  .logo-box img {
    height: 6.01vw;
    margin-right: 12px;
  }

  .logo-box .logo {
    font-size: 2.55vw;
  }

  .header .nav-list {
    display: flex;
    position: fixed;
    top: 2.27vw;
    right: 2.86vw;
    top: 4vw;
    padding: 0;
    flex-direction: row-reverse;
  }

  .header .nav-list .nav-item {
    writing-mode: vertical-rl;
    margin-left: 2.12vw;
  }

  .header .nav-list .nav-item a {
    display: block;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: .2em;
    font-size: 1.17vw;
  }

  /* .logo-box img {
    height: 44px;
    margin-right: 20px;
  }

  .header .nav-item {
    padding-left: 32px;
  } */


  /*==============================================================
    　　PC_フッター
  ==============================================================*/
  .footer {
    padding-top: 8.28vw;
    padding-bottom: 5.13vw;
    margin-top: 10.26vw;
  }

  .footer:before {
    width: 150vw;
    height: 75vw;
    border-radius: 75vw 75vw 0 0;
  }

  .foot-bg {
    max-width: 84.98vw;
    width: 100%;
    margin-inline: auto;
  }

  .footer .logo-box {
    display: block;
    /* width: 21.54vw; */
    width: 22vw;
    margin: 0 auto 4.4vw;
  }

  .footer .logo-box img {
    height: 7.75vw;
  }

  .footer .logo-box .logo {
    font-size: 3.1vw;
  }

  .footer .link-box {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
  }

  .footer .link-box li {
    writing-mode: vertical-rl;
    margin-right: 2.34vw;
  }

  .footer .link-box li.top {
    margin-right: 0;
  }

  .footer .link-box li a {
    font-size: 1.32vw;
    display: block;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: .2em;
  }

  .footer .link-box .policy {
    width: auto;
    padding-top: 0;
    margin-bottom: 0;
    font-size: 1.03vw;
    margin-right: 2.34vw;
    padding-right: .73vw;
  }

  .footer .copy {
    font-size: .95vw;
    line-height: 1.8;
    letter-spacing: .1em;
    color: rgba(255, 255, 255, .3);
    text-align: center;
    padding-top: 4.18vw;
    margin-top: 3vw;
  }







}